@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", sans-serif;
}
.family-bold {
  font-family: "Staatliches", cursive;
}

.family-mono {
  font-family: "DM Mono", monospace;
}
.family-playfair {
  font-family: "Playfair Display", serif;
}
.react-responsive-modal-modal {
  max-width: 100% !important;
  padding: 0px !important;
  border-radius: 10px;
}

.section {
  @apply relative flex flex-col items-center min-h-[400px] pt-14 md:pt-32 pb-14 md:pb-32;
}
.text-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.react-responsive-modal-container {
  overflow-x: none;
  overflow-y: none;
}
